<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Forecast</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of forecast.list">
      <ion-label>
        <h2>{{item.weather[0].description}}</h2>
        <p>{{ formatDate(item.dt_txt)}}</p>
      </ion-label>
      <ion-text color="success" class="ion-text-end">
        <h2>{{item.main.temp}}°C</h2>
      </ion-text>
      <ion-avatar slot="start">
        <img src="https://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png" alt="">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>