<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Forecast</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let weather of whList"> <!-- gunakan "weather" sebagai variabel iterasi -->
      <ion-grid (click)="detailpage(weather)"> <!-- gunakan "weather" sebagai argumen fungsi "detailpage" -->
        <ion-row *ngFor="let daily of weather.daily"> <!-- gunakan "daily" sebagai variabel iterasi -->
          <ion-col size="2">
            <img src="http://openweathermap.org/img/wn/{{daily.weather[0].icon}}@2x.png" height="55px"/> <!-- gunakan "daily.weather[0].icon" untuk mendapatkan ikon cuaca -->
          </ion-col> 
          <ion-col size="6">
            <ion-label>
              {{daily.weather[0].main}} - {{daily.weather[0].description}}<br/>
              <small>{{weather.dt | date:'dd MMM yyyy - HH:mm '}}</small> <!-- gunakan "weather.dt" untuk mendapatkan waktu -->
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-label color="success">
              {{daily.temp.day}} °C<br/>
              <small>{{daily.temp.min}} ~ {{daily.temp.max}} °C</small> <!-- gunakan "daily.temp.min" dan "daily.temp.max" untuk mendapatkan suhu minimum dan maksimum -->
            </ion-label>
          </ion-col> 
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
